<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8721f/control/0/plot" value="false" />
    <add key="/lpc/it8721f/control/1/plot" value="false" />
    <add key="/lpc/it8721f/control/2/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/nvidiagpu/1/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/1/clock/0/plot" value="false" />
    <add key="/nvidiagpu/1/clock/1/plot" value="false" />
    <add key="/nvidiagpu/1/clock/2/plot" value="false" />
    <add key="/nvidiagpu/1/fan/0/plot" value="false" />
    <add key="/nvidiagpu/1/load/0/plot" value="false" />
    <add key="/nvidiagpu/1/load/1/plot" value="false" />
    <add key="/nvidiagpu/1/load/2/plot" value="false" />
    <add key="/nvidiagpu/1/load/3/plot" value="false" />
    <add key="/nvidiagpu/1/control/0/plot" value="false" />
    <add key="/nvidiagpu/1/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/1/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/1/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/1/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/temperature/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="/hdd/4/temperature/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="487" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8721f/voltage/0/plot" value="false" />
    <add key="/lpc/it8721f/voltage/1/plot" value="false" />
    <add key="/lpc/it8721f/voltage/2/plot" value="false" />
    <add key="/lpc/it8721f/voltage/3/plot" value="false" />
    <add key="/lpc/it8721f/voltage/4/plot" value="false" />
    <add key="/lpc/it8721f/voltage/5/plot" value="false" />
    <add key="/lpc/it8721f/voltage/6/plot" value="false" />
    <add key="/lpc/it8721f/voltage/7/plot" value="false" />
    <add key="/lpc/it8721f/voltage/8/plot" value="false" />
    <add key="/lpc/it8721f/temperature/0/plot" value="false" />
    <add key="/lpc/it8721f/temperature/1/plot" value="false" />
    <add key="/lpc/it8721f/fan/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/3/temperature/0/values" value="" />
    <add key="/hdd/3/load/0/values" value="" />
    <add key="/hdd/4/temperature/0/values" value="" />
    <add key="/hdd/4/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAPP2qesKyLvpwcDg58S8qp+RAQx8nL6lHxKAsXlNE5ggbG8nAFdA6KgwAAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAHM+WNcVkHfTgwEIdoZpczNAQWVMIhOExet84VEKE0z804YDLDA2APwbaQ88AAAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEABObXdcVkHfTg1FB2SVpZT8jAxhMc+aYqyQMYwMAYisATyQAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEABObXdcVkHfT4008g2vSyn5GBiBgbDjlzDFXSRjGBgAF/gXuJAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEABObXdcVkHfTgwEIstw2iTBAAQBMW1QXGAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAHM+WNcVkHfTg4Fhh4P/qn5GBjDocHA/kM4EYTc4cBllwNk2NilQ9gKHu7UwNR8cKmMS4eIXHsHUTHAwCU1ggpm5LxrGdnAAAFf7auZ4AAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAHM+WNcVkHfTg4FhhoP/qn5GBjCY4eB+IJ0Jwu5w4DLKgLIbHGxsUuDsu7UwNTMcKmMS4eovPEKo+bThAAuMDQCCydFPbAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAHM+WNcVkHfTgwEIvrhtEmGAAgANe7nKGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAHM+WNcVkHfTg4HBwd5/VT8jAxg42LsfSGeCsBvsuYwymGDiNjYpcPG7tQg1lTGJcDUXHiHUmIQmwMX3RSfAxQF5909BeAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAHM+WNcVkHfTg0NZydF/VT8jAxDMUFFy1H2WzgRiM98Dso0ywOy321QcjcVSIOwWFcd7SyBqvlupOFaYJkLEg1Qcz3GmgtkzklUcv3QeYIGxAW9DS9FsAAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAHM+WNcVkHfTQ6N7jav/qn5GBiD40bXGVfdZOhOIvaMEyDbKALN/WK9xNRZLgbAd17jeWwJRc8NrjWuFaSJE3H2N6znOVAjbdY3rl84DLDA2AKOmOkpsAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAHM+WNcVkHfT48AyaRf/Vf2MDEDgsELaRfdZOhOYHSXjomuUAWEryLkYi6VA2B9kXe4tgapZKetSYZoIYR+QdTnHmQphX5B1+dJ5gAXGBgClvgNCbAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAHM+WNcVkHfTg4HhgOsXt00iDGBwwBUA9yOdZRgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAHM+WNcVkHfTgwEIvrhtEmGAAgANe7nKGAAAAA==" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAPN8UdcVkHfTQ1q/x9FvRT8jAxAc/mrsmPEynQnEXnTUwNEyIgPMtuDUdvz2LhnMVjDQcXRzhIg/+qXtyDIzAcz2eGjsePpRCpg9L1/fkacKIh6dou0Ybw5h67DrOAIAuKsXeHgAAAA=" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEADNhb+4KyLvpwRBw2EFuRT8jAxRE7k5ngrFZrDIg7AZre7OEFAi7fanTzniImgYPVWfrgESIuICKs8E7qJrJi52etSTAzXmtimADAKCf+qV4AAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEABM/1N4VkHfTg6HB2v7Dqn5GBig4tyydCcbe450BYedkOAUnpEDFq+xkcyFqGlZlOGvLpEHFfzkdPg1Vk/PCqfRoNFzvMf0EuJkAlM9S8XgAAAA=" />
    <add key="/nvidiagpu/1/temperature/0/values" value="H4sIAAAAAAAEABM/1N4VkHfTg4HBx+nDqn5GBjDwcjq3LJ0JwvZ22uOdwQQTD05IgbI9nWRz0+FsbZk0uPrDp1Pg6kuPRsPVHNNPgLMBrJk+BHgAAAA=" />
    <add key="/nvidiagpu/1/fan/0/values" value="H4sIAAAAAAAEABM/1N4VkHfTgwEIhD02iTBAAQDMYDboGAAAAA==" />
    <add key="/nvidiagpu/1/clock/0/values" value="H4sIAAAAAAAEAPv6or0rIO+mByPDIufJ7ptEGIAAxAYAUMxFchgAAAA=" />
    <add key="/nvidiagpu/1/clock/1/values" value="H4sIAAAAAAAEAPv6or0rIO+mByPDIufJ7ptEGIAAxAYAUMxFchgAAAA=" />
    <add key="/nvidiagpu/1/clock/2/values" value="H4sIAAAAAAAEAPv6or0rIO+mByODkstk900iDEAAYgMAAiiiKRgAAAA=" />
    <add key="/nvidiagpu/1/load/0/values" value="H4sIAAAAAAAEAPv6or0rIO+mBwMDg8PSFf2MDGAg4LByRToThO3gUOSVwQQT905KgYnbC+TC1DAwbJZKg7MtTsPUNNhZHIuGi6eFJcDZAOI7Dw94AAAA" />
    <add key="/nvidiagpu/1/load/1/values" value="H4sIAAAAAAAEAPv6or0rIO+mBwNDh8PSFf2MDGBQ4LByRToThN3gUOSVwQQT905KgbIdHGbmv+OGsQEoPguRSAAAAA==" />
    <add key="/nvidiagpu/1/load/2/values" value="H4sIAAAAAAAEAPv6or0rIO+mBwMQLMndJMIABQDPUsm8GAAAAA==" />
    <add key="/nvidiagpu/1/load/3/values" value="H4sIAAAAAAAEAPv6or0rIO+mBwMDg/3SFf2MDGBwwH7linQmCJvBocgrA8p+YO+dlAJlO9gL5MLVMGyWSoOzLU7D1DTYWRyLhounhSXA2QB76gfheAAAAA==" />
    <add key="/nvidiagpu/1/load/4/values" value="H4sIAAAAAAAEAPv6or0rIO+mR4JFl8OS3E0iDEAAYgMAtmSBzBgAAAA=" />
    <add key="/nvidiagpu/1/smalldata/1/values" value="H4sIAAAAAAAEAPv6or0rIO+mx4ct5q5LcjeJMAABiA0Ap6E3ixgAAAA=" />
    <add key="/nvidiagpu/1/smalldata/2/values" value="H4sIAAAAAAAEAPv6or0rIO+mB8NGFucluZtEGEAAyAYAOuvc0RgAAAA=" />
    <add key="/nvidiagpu/1/smalldata/3/values" value="H4sIAAAAAAAEAPv6or0rIO+mBwODg+uS3E0iDGDg4AoAnH0dqxgAAAA=" />
    <add key="/nvidiagpu/1/control/0/values" value="H4sIAAAAAAAEAPv6or0rIO+mBwODgNOS3E0iDGAg4AQArni61RgAAAA=" />
    <add key="/nvidiagpu/1/power/0/values" value="" />
    <add key="/nvidiagpu/1/throughput/0/values" value="" />
    <add key="/nvidiagpu/1/throughput/1/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAAvdv6wrIO+mx58V5xxv2zAxMQCBBf85R6V1KWC28dGzjqK3ssBstX1nHf/dSASzf8w669gwNR3MTso66yjWBxEvET7reP8KRO8k2bOOX9kTwGxZzrOOk6yTwGyjX2ccAX/a9bt4AAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAAvdv6wrIO+mx7EpRx1u2zAxMQDBEcajDkrrUsBsht1HHERvZYHZTluOOPy7kQhmL5h0xKFhajqYrZNyxEGsDyIuIHjE4f4ViN49UkccvrInQNSwH3GYZJ0EZr/6cdgBAMnkyft4AAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAAvdv6wrIO+mR8PFXsfbNkxMDEDg+K3XUWldCpj9ib3PUfRWFpi9iLPP8d+NRDCbS6jPsWFqOpi9XLbPUawPIp5n1Od4/wpEL7NBn+NX9gQw+7lJn+Mk6yQwu8KizxEAYHIl9HgAAAA=" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAJObkN0VkHfTY7uYoWNDRT8jAxBo1Ms6KnJlMIHYOS89HI68Tgez9/zicig0SQGzGR5McjD7CRG/vKPdwXNfAph9XWSTA1djKpid8cTQ4Tw7RFzBL9HhmBqErThzvgMAvWBjengAAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEANPMzO4KyLvp4ZWl4FQ6v5+RAQgOHXdxWvI0nQnEPlbo4+gokAFmMzR8dyg0SYGwD6xwNPsJUTPnb4Gj574EMHvbo1xHrsZUMPuoH6fjeXaI+JOIaY7H1BKg5ux2BAAZHJXqeAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAJObkN0VkHfToz+13LGhop+RAQikLuk7KnJlMIHY997yOh55nQ5mb5jc7lBokgJmMzCIOZr9hIh7NIc7eu5LALOfpJY6cjWmgtldc0Udz7NDxJMk3jkcU4OwGQ5oOAIAb0QIr3gAAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAJObkN0VkHfTw2oeq2NDRT8jAxDMOCboqMiVwQRiX5TRcTjyOh3MDnot6FBokgJmMzBUOZj9hIhv4ip38NyXAGafOHHJgasxFcx+tUzP4Tw7RFy9bIr9MTUIu+/xYgcAaX6QW3gAAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAJObkN0VkHfT49WMboeGin5GBiD4LcTqqMiVwQRi1+13sz/yOh3M7lHVdyg0SQGzGRhO2Jv9hIgXfHC099yXAGar1F104GpMBbMjp520P88OEbf44WJ/TA3C3qRz2g4AVIQFrHgAAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAJObkN0VkHfTI5RP3bGhop+RAQpKJioJw9gADoZrDSQAAAA=" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAJObkN0VkHfTQyDY06Ghop+RAQp6lOdwwtie+xKYQLTfmyN2XI2pTDDxqXoHWGBsAFUJVytIAAAA" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAJObkN0VkHfT48////YNFf2MDFBQMlFJGMYGAKF3FCAkAAAA" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEAJObkN0VkHfTo2DTVIeGin5GBiBIKJlor8iVwcQABUdep4PZfm+O2BWapEDFPezNfkLEG3g87D33JYDZdv+97bkaU+F6z7MnwNnH1CDsTTqn7QDc1/OveAAAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJObkN0VkHfTg0GBz6mhop+RAQQO/HJU5MpggrAZnY68ToezC01SIOwEViezn1BxBS4nz30JUDV8TlyNqVA1PE7n2aHiDAxOx9SgbIe3jgB3eKvCeAAAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="H4sIAAAAAAAEAPP2qesKyLvpsXWthzPzqn5GBiDIBbJb96UzgdgqQPZ7kwwwWw3IlrVOgYuXNSDUZEclgtnKQDb3E4gaVSC7sioBrobXNAGuBgAJSmymeAAAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAGvuy+0KyLvpEfSyyZX3SD8jAxCUKjS5On9NZwKx529sdnVgyACzG6bru35xTgGz2d5Eur4ugaj5/KLJVSw6Ecx2Ber1eQZR8wUoPn9mApi9AGhONF8C3EwA9PLAn3gAAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEADvyPr8rIO+mR9DLJteFa/oZGYBACciexp7BBGLP39js+lUEwl4IZH8zS4GL98Wmg9kJtdGuU+oTwexVURGuns8gajTY9Fz/NyaA2W4KTa5fJRLgagAxwOjDeAAAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAOPyKuoKyLvpEfSyyXXX4X5GBiAoVWhynfQznQnEPl2i4yr4B8JOqI12lfVOgbMV8iDin180ue7LTwSzPwHZNy9A1LgDzdkwJwHMXrCx2dWTJwGuFwC8p4RIeAAAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAIvYW9IVkHfTI+hlk6vbwX5GBiA4MF3fNfRuOhOIXQ9k50pkgNkJtdGuu/1TwGxXhSbXFBeIGrY3ka7bpyWC2TPCG11PnIOocQOqUelKALPV2PRcbwokwPUCAIdUMxJ4AAAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAFsvU94VkHfTYwmbnuuy1f2MDEDwKirCVfxNOhOIvRrI9mPPALPdFZpcF4SngNlrgOI6KRA1n180uZpVJ4LZq4DiJUchapJqo12zVieA2TPDG12DBSFsNaBdAGphnql4AAAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAPPLquwKyLvpsYRNz5VxVT8jAxAcD2903f4rnQnEdlVocnX+CWGzvYl0XdqQAma/7mtwTbaCiH9+0eTq25kIV3/hDkTNwo3Nrqc7E8BsNaD5H9Ug7Ibp+q4AWcznFHgAAAA=" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEAAu4Xd0VkHfTY4lCkyvLqn5GBiCYcDLM1e52OhOI/bqvwXW9RAaYvTYqwnVWfAqYPSO80bUyGqJmJpC9pjARzHYFmmP0BaImqTba1SU3ASrO5LpcBsL+9KLJFQBfftx0eAAAAA==" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEAPP2qesKyLvpsUShyZV5VT8jAxBI9Te4tu5LZwKxA0+Gub43yQCzv7xocpW1TgGzZ4Q3upY1QNQ0TNd3zY5KBLNPl+i4cj9JgauvrEoAs9dERbjymibA1QMAyI0XlXgAAAA=" />
    <add key="/lpc/it8721f/voltage/0/values" value="H4sIAAAAAAAEAFPNmdIVkHfTQ5LFzGFHGCMTAxA4mJo5yP5JAbO3nDBz6JiSBWb3TjdziLmQCFfDHJYBFzc6mwBXP/UCRG96mpnDnnyIeBqQncSYBGcDACIPZ+x4AAAA" />
    <add key="/lpc/it8721f/voltage/1/values" value="H4sIAAAAAAAEAFPNmdIVkHfTY9VHI4cdYYxMDEAAYsv+SQGzLygZO3RMyYKzYy4kgtk/go0dmMMy4OJGZxPgeqdeQOiVKzzEAmMDAAO+/1JsAAAA" />
    <add key="/lpc/it8721f/voltage/2/values" value="H4sIAAAAAAAEAFPNmdIVkHfTw23bZvsdYYxMDEBQOnmFveyfFDC75cAs+44pWWD20wuL7GMuJILZ5fvm2zOHZYDZ2XuW2BudTQCzm4Hqp16A6E14usB+Tz5E/PbPefZJjElg9lGFBfYAsfh9aHgAAAA=" />
    <add key="/lpc/it8721f/voltage/3/values" value="H4sIAAAAAAAEAFPNmdIVkHfT4/z3y/YLZZRFGYAAxAYACxvo+BgAAAA=" />
    <add key="/lpc/it8721f/voltage/4/values" value="H4sIAAAAAAAEAFPNmdIVkHfT4+ApRoeFMsqiDEAAYgMA3r2JjxgAAAA=" />
    <add key="/lpc/it8721f/voltage/5/values" value="H4sIAAAAAAAEAFPNmdIVkHfTQ7hZwSH2+QU2BiAAsWMuJDKB2O1iig7MYRlMMHGjswlgttUWBYfNjursMDYAfkGt9UgAAAA=" />
    <add key="/lpc/it8721f/voltage/6/values" value="H4sIAAAAAAAEAFPNmdIVkHfTY9lsF9uFMsqiDEAAYgMAbE+kLBgAAAA=" />
    <add key="/lpc/it8721f/voltage/7/values" value="H4sIAAAAAAAEAFPNmdIVkHfTY0+JsN1CGWVRBiAAsQHHCuRoGAAAAA==" />
    <add key="/lpc/it8721f/voltage/8/values" value="H4sIAAAAAAAEAFPNmdIVkHfT49z3YIeFMsqiDEAAYgMASl/yCxgAAAA=" />
    <add key="/lpc/it8721f/temperature/0/values" value="H4sIAAAAAAAEAFPNmdIVkHfTg4HBxGlHGCMTAxiYOMn+SYGyDZzWRfzihrH35CdAxXWckhiToGx9JwBfOX2zSAAAAA==" />
    <add key="/lpc/it8721f/temperature/1/values" value="H4sIAAAAAAAEAFPNmdIVkHfTg4FBxGmhjLIoAxiIOAEAFjsuuRgAAAA=" />
    <add key="/lpc/it8721f/temperature/2/values" value="" />
    <add key="/lpc/it8721f/fan/0/values" value="H4sIAAAAAAAEAFPNmdIVkHfTY73rXJcdYYxMDEAwq22ei+yfFDC7/Mlsl44pWWD2lvbZLjEXEsFsleTZLsxhGWD26YDZLkZnE8BsIaD41AspcPaefIh45+0ZLkmMSWC2+tGZLgBUv1cmeAAAAA==" />
    <add key="/lpc/it8721f/fan/1/values" value="H4sIAAAAAAAEAFPNmdIVkHfTgwEIFsooizJAAQBoW52tGAAAAA==" />
    <add key="/lpc/it8721f/fan/2/values" value="" />
    <add key="/lpc/it8721f/fan/3/values" value="" />
    <add key="/lpc/it8721f/fan/4/values" value="" />
    <add key="/lpc/it8721f/control/0/values" value="" />
    <add key="/lpc/it8721f/control/1/values" value="H4sIAAAAAAAEAFPNmdIVkHfTg4HhhNNCGWVRBjA44QQAVwQuGhgAAAA=" />
    <add key="/lpc/it8721f/control/2/values" value="H4sIAAAAAAAEAFPNmdIVkHfTg4HhhNNCGWVRBjA44QQAVwQuGhgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>